#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


// ion-item-options {
//   background-color: #3a78e7;

// }


// ion-item-options button {
//   background-color: #3a78e7;
// }

.blue {
  background-color: #3a78e7;
}

.red {
  background-color: #d23431;
}

ion-icon {
  font-size: 1.7em; //Preferred size here
  color: white;
  font-weight: bolder;
}
